.backdrop {
  position: relative;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.info-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #121212;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.info-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.vote-average {
  font-size: 1.2rem;
  color: #ffc107;
}

.genres,
.overview,
.release-date,
.runtime,
.production {
  font-size: 1rem;
  line-height: 1.5;
}

.error-message {
  text-align: center;
  color: red;
  font-size: 1.5rem;
}